:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --special-white: #f1f5f7;
  --extra-light-white: #f3f7f9;
  --light-yellow: #ffd180;
  --basic-grey: #a9a9a9;
  --dark-grey: #32425c;
  --basic-orange: #ee3643;
  --basic-background: #f1f5f7;
  --transparent-light-yellow: rgba(255, 209, 128, 0.5);
  --transparent-white: rgba(255, 255, 255, 0.3);
  --extra-transparent-white: rgba(255, 255, 255, 0.5);
  --transparent-black: rgba(0, 0, 0, 0.25);
  --extra-transparent-black: rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif;
  min-width: 1200px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  font: inherit;
  color: inherit;
}

.section-title {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.section-text {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* Повторяющиеся гриды */

.col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.goods .col-3 {
  row-gap: 18px;
}

.goods-nav .col-3 {
  row-gap: 20px;
}

.col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.header {
  background: #F3F7F9;
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 320px;
  margin-bottom: 59px;
}

.header-purchase-bar {
  background: #293449;
  height: 42px;
  margin-bottom: 46px;
}

.header-purchase-menu {
  display: flex;
  justify-content: flex-end;
}

.logo {
  background: #ee3643;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.logo:active {
  background: #ba2732;
}

.header-logo {
  width: 220px;
  height: 47px;
}

.search-input {
  color: var(--basic-white);
  background-color: transparent;
  margin-left: 19px;
  width: 45px;
}

.purchase-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.purchase-item {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.purchase-item:active {
  color: var(--extra-transparent-white);
}

.cart-button {
  margin-left: 50px;
}

.favs-button {
  margin-left: 203px;
}

.checkout-button {
  background: #63a63e;
  width: 150px;
  height: 42px;
  margin-left: 26px;
}

.header-user-menu {
  display: flex;
  justify-content: flex-end;
}

.header-shop-info {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-orange);
  width: 197px;
  margin: 0;
  padding: -3.5px 0 4.5px 0;
}

.header-contacts {
  margin-left: 93px;
}

.header-phone {
  background: transparent;
  border: 3px solid #ffffff;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-orange);
  box-sizing: border-box;
  width: 270px;
  height: 45px;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-grey);
}

.login-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-left: 69px;
}

.login-button {
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  height: 45px;
}

.sign-in-button {
  margin-left: 10px;
  width: 121px;
}

.join-button {
  margin-left: 10px;
  width: 150px;
}

.login-button:hover {
  color: #ee3643;
}

.login-button:active {
  color: #c5c5c5;
}

.site-nav-list {
  list-style: none;
  background: #32425c;
  padding: 16px 53px 20px 53px;
  display: flex;
  justify-content: space-between;
}

.site-nav-item {
  text-align: center;
  vertical-align: center;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.site-nav-item:hover {
  background: #293449;
}

.site-nav-item:active {
  background: #1d2739;
  color: var(--extra-transparent-white);
}

.goods-nav {
  margin-bottom: 59px;
}

.goods-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.goods-nav-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.goods-nav-more-details {
  background-color: var(--transparent-white);
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.goods-nav-more-details:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.goods-nav-more-details:active {
  background: rgba(169, 169, 169, 0.3);
}

.goods-nav-item {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.materials-item {
  background: #ffbf47;
}

.tools-item {
  background: #3bbce3;
}

.tech-item {
  background: #dc91d8;
}

.special-offers {
  grid-row: 2 / 4;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  grid-template-rows: 104px 1fr 1fr;
}

.special-offers-slider {
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: 1 / 4;
  grid-row: 1 / 4;
}

.special-offers-button-back {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.special-offers-button-next {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.special-offers .open-catalog-button {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.slider-indicator-dots {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: center;
}

.special-offers-slide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 104px 1fr;
}

.special-offers-slide-2 {
  display: none;
}

.special-offer-title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 2;
}

.special-offer-title h4 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
  margin: 0;
  padding: 0;
}

.special-offer-title p {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.special-offer-image {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.sales-item {
  background: #8ed78f;
}

.shipping-item {
  background: #ffc047;
}

.goods {
  margin-bottom: 70px;
}

.populars-header {
  background: #f9f5f0;
  display: flex;
  justify-content: space-between;
}

.populars-header .section-title {
  color: var(--dark-grey);
}

.more-details-button {
  background: #ee3643;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.more-details-button:hover {
  background: #ca2c37;
}

.more-details-button:active {
  background: #ba2732;
}

.goods-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.goods-item {
  width: 220px;
  height: 318px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #eaeaea;
  font-family: PT Sans;
  font-weight: bold;
  padding-bottom: 21px;
}

.goods-item h3 {
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-grey);
  text-decoration: line-through;
  margin: 0;
  padding: 0;
}

.actual-price {
  background: #ee3643;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  margin: 0;
  padding: 0;
}

.popular-brands {
  margin-bottom: 70px;
}

.popular-brands-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-brands-item {
  background: #ffffff;
  border: 1px solid #eaeaea;
}

.popular-brands-item:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.popular-brands-item:active {
  opacity: 0.5;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.services {
  background: #f1f5f7;
  margin-bottom: 70px;
}

.services .section-title {
  color: var(--basic-black);
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.services-item {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background: #32425c;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.services-item:hover {
  background: #293449;
}

.services-item--active {
  background: #ffffff;
  box-shadow: 0px 1px 0px #ffffff;
  color: #32425c;
}

.services-item--active:hover {
  background: #ffffff;
}

.services-info-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.shop-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  margin-bottom: 70px;
}

.shop-info .section-title {
  color: var(--basic-black);
}

.shipping-partners-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.shipping-partners-item {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.contacts {
  justify-self: end;
}

.contacts .section-title {
  color: var(--basic-black);
}

.services-list-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
}

.footer {
  background: #32425c;
  height: 300px;
  display: grid;
  grid-template-rows: 1fr 107px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: auto;
}

.footer-logo {
  width: 220px;
  height: 68px;
}

.footer-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.footer-site-nav-item {
  margin: 37px 0 34px 0;
  color: var(--special-white);
  margin-left: 59px;
}

.footer-goods-nav-item {
  color: var(--light-yellow);
  margin-left: 59px;
}

.footer-site-nav-item:hover,
.footer-goods-nav-item:hover {
  text-decoration: underline;
}

.footer-site-nav-item:active {
  color: var(--extra-transparent-white);
  text-decoration: none;
}

.footer-goods-nav-item:active {
  color: var(--transparent-light-yellow);
  text-decoration: none;
}

.footer-address {
  font-size: 18px;
  line-height: 24px;
  margin-top: -20px;
  color: var(--special-white);
  padding: 0;
  max-width: 323px;
  box-sizing: border-box;
}

.footer-bar {
  background: #293449;
  color: var(--basic-white);
}

.copyright-rights-rights {
  width: 227px;
  font-size: 16px;
  line-height: 18px;
}

.footer-socials {
  justify-self: center;
  align-self: center;
}

.footer-socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.footer-socials-item {
  background: #212a3a;
  margin-right: 1px;
}

.footer-socials-item:hover,
.footer-socials-item:active {
  background: #ee3643;
}

.developer-info {
  align-self: center;
}

.developer-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.developer-mail {
  margin-right: 51px;
}

.developer-item h3 {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  margin: 0;
  padding: 0;
}

.developer-item a {
  font-size: 16px;
  line-height: 18px;
  color: var(--light-yellow);
}

.developer-item a:hover {
  text-decoration: underline;
}

.developer-item a:active {
  text-decoration: none;
  color: #ba2732;
}

.user {
  margin-left: 51px;
}

.user-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.user-сontrol-panel {
  margin: 0;
  padding: 0 14px 0 15px;
  list-style: none;
  background-color: var(--basic-white);
  display: flex;
}

.user-control-panel-item {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.user-control-panel-item:active {
  color: #c5c5c5;
}

.user-nav-item {
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-grey);
}

.user-nav:hover {
  color: #ee3643;
}

.user-nav:active {
  color: #c5c5c5;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.breadcrumbs-item {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.goods-title {
  background: #f2f6f8;
}

.catalog-container {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 38px 1fr 38px;
  column-gap: 20px;
  row-gap: 20px;
}

.filters {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.sorting {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.options-box h2 {
  background-color: #f7f3ec;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.show-button {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.good-purchase-options {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.goods-item:hover .good-image {
  display: none;
}

.goods-item:hover .good-purchase-options {
  display: block;
}

.buy-button {
  background: #63a63e;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.buy-button:hover {
  background: #5fbb2d;
}

.buy-button:active {
  background: #518534;
}

.to-favs-button {
  background: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 14px;
  line-height: 18px;
  color: var(--dark-grey);
}

.to-favs-button:hover {
  border: 3px solid #32425c;
}

.to-favs-button:active {
  opacity: 0.5;
}

.perforators-info .section-title {
  color: var(--basic-black);
}

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(4, min-content);
  column-gap: 10px;
}

.pagination-item {
  min-width: 38px;
  min-height: 38px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.pagination-item:hover {
  border: 1px solid #c5c5c5;
}

.pagination-item:active {
  border: 1px solid #ee3643;
}

.pagination-item--active {
  border: none;
  background: #EE3643;
  color: var(--basic-white);
}

.pagination-item--active:hover {
  border: none;
}

.pagination-item--active:active {
  border: none;
}
