:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --special-white: #f1f5f7;
  --extra-light-white: #f3f7f9;
  --light-yellow: #ffd180;
  --basic-grey: #a9a9a9;
  --dark-grey: #32425c;
  --basic-orange: #ee3643;
  --basic-background: #f1f5f7;
  --transparent-light-yellow: rgba(255, 209, 128, 0.5);
  --transparent-white: rgba(255, 255, 255, 0.3);
  --extra-transparent-white: rgba(255, 255, 255, 0.5);
  --transparent-black: rgba(0, 0, 0, 0.25);
  --extra-transparent-black: rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif;
  background-color: var(--basic-background);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  font: inherit;
  color: inherit;
}

.section-title {
  font-size: 30px;
  line-height: 30px;
}

.section-text {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.logo {
  background: #ee3643;
}

.logo:active {
  background: #ba2732;
}

.purchase-list {
  background: #293449;
  list-style: none;
}

.purchase-item {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.purchase-item:active {
  color: var(--extra-transparent-white);
}

.checkout {
  background: #63a63e;
}

.header-shop-info {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-orange);
}

.header-contacts-list {
  list-style: none;
}

.header-phone {
  background: #f3f7f9;
  border: 3px solid #ffffff;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-orange);
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-grey);
}

.login-list {
  list-style: none;
}

.login-button {
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.login-button:hover {
  color: #ee3643;
}

.login-button:active {
  color: #c5c5c5;
}

.site-nav-list {
  list-style: none;
}

.site-nav-item {
  background: #32425c;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.site-nav-item:hover {
  background: #293449;
}

.site-nav-item:active {
  background: #1d2739;
  color: var(--extra-transparent-white);
}

.goods-nav-list {
  list-style: none;
}

.goods-nav-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.goods-more-details {
  background-color: var(--transparent-white);
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.goods-more-details:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.goods-more-details:active {
  background: rgba(169, 169, 169, 0.3);
}

.goods-nav-item {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.materials-item {
  background: #ffbf47;
}

.tools-item {
  background: #3bbce3;
}

.technique-item {
  background: #dc91d8;
}

.sales-item {
  background: #8ed78f;
}

.shipping-item {
  background: #ffc047;
}

.perforators-title {
  background-color: var(--transparent-black);
}

.perforators-title {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.perforators-title h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
}

.more-details-button {
  background: #ee3643;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.more-details-button:hover {
  background: #ca2c37;
}

.more-details-button:active {
  background: #ba2732;
}

.populars-header {
  background: #f9f5f0;
}

.populars-header .section-title {
  color: var(--dark-grey);
}

.goods-list {
  list-style: none;
}

.goods-item {
  background: #ffffff;
  border: 1px solid #eaeaea;
  font-family: PT Sans;
  font-weight: bold;
}

.goods-item h3 {
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-grey);
}

.actual-price {
  background: #ee3643;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
}

.new-sticker {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background: #ee3643;
}

.popular-brands-list {
  list-style: none;
}

.popular-brands-item {
  background: #ffffff;
  border: 1px solid #eaeaea;
}

.popular-brands-item:hover {
  box-shadow: 0 0 5px var(--extra-transparent-black);
}

.popular-brands-item:active {
  opacity: 0.3;
}

.services {
  background: #f1f5f7;
}

.services .section-title {
  color: var(--basic-black);
}

.services-list {
  list-style: none;
}

.services-button {
  font-family: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background: #32425c;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.services-button:hover {
  background: #293449;
}

.about-shop-info .section-title {
  color: var(--basic-black);
}

.shipping-partners-list {
  list-style: none;
}

.shipping-partners-item {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.contacts .section-title {
  color: var(--basic-black);
}

.main-footer {
  background: #32425c;
}

.footer-site-nav-list {
  list-style: none;
}

.footer-site-nav-item {
  color: var(--special-white);
}

.footer-goods-nav-list {
  list-style: none;
}

.footer-goods-nav-item {
  color: var(--light-yellow);
}

.footer-site-nav-item:hover,
.footer-goods-nav-item:hover {
  text-decoration: underline;
}

.footer-site-nav-item:active {
  color: var(--extra-transparent-white);
  text-decoration: none;
}

.footer-goods-nav-item:active {
  color: var(--transparent-light-yellow);
  text-decoration: none;
}

.footer-address {
  font-size: 18px;
  line-height: 24px;
  color: var(--special-white);
}

.footer-links {
  background: #293449;
  color: var(--basic-white);
}

.footer-socials-list {
  list-style: none;
}

.footer-socials-item {
  background: #212a3a;
}

.footer-socials-item:hover,
.footer-socials-item:active {
  background: #ee3643;
}

.developer-list {
  list-style: none;
}

.developer-item h3 {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.developer-item a {
  font-size: 16px;
  line-height: 18px;
  color: var(--light-yellow);
}

.developer-item a:hover {
  text-decoration: underline;
}

.developer-item a:active {
  text-decoration: none;
  color: #ba2732;
}

.user-list {
  list-style: none;
}

.user-сontrol-panel {
  list-style: none;
  background-color: var(--basic-white);
}

.user-control-panel-item {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.user-control-panel-item:active {
  color: #c5c5c5;
}

.user-nav {
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-grey);
}

.user-nav:hover {
  color: #ee3643;
}

.user-nav:active {
  color: #c5c5c5;
}

.breadcrumbs-list {
  list-style: none;
}

.breadcrumbs-item {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.goods-title {
  background: #f2f6f8;
}

.options-box {
  background-color: #f7f3ec;
}

.options-box h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.show-button {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.catalog-good-purchase-options {
  display: none;
  list-style: none;
}

.catalog-item:hover .catalog-good-image {
  display: none;
}

.catalog-item:hover .catalog-good-purchase-options {
  display: block;
}

.buy-button {
  background: #63a63e;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.buy-button:hover {
  background: #5fbb2d;
}

.buy-button:active {
  background: #518534;
}

.favourite-button {
  background: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 14px;
  line-height: 18px;
  color: var(--dark-grey);
}

.favourite-button:hover {
  border: 3px solid #32425c;
}

.favourite-button:active {
  opacity: 0.3;
}

.perforators-info .section-title {
  color: var(--basic-black);
}

.pagination-list {
  list-style: none;
}

.pagination-item {
  width: 38px;
  height: 38px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.pagination-item:hover {
  border: 1px solid #c5c5c5;
}

.pagination-item:active {
  border: 1px solid #ee3643;
}

.pagination-item--active {
  background: #ee3643;
  color: var(--basic-white);
}
